body {
  font-family: "PT Sans";
  font-size: 13pt;
  line-height: 175%;
  /*margin: 25px 165px 25px 165px;
  /*padding: 25px 5px 5px 5px; /* top right bottom left */
}


h4 {
  font-family: "PT Serif", serif;
  text-align: center; 
  line-height: 140%;
  font-weight: normal
}


h1 {
  font-family: "PT Serif", serif;
  color: #003399;
  text-align: center; 
  font-weight: normal
}

.contact {
  font-family: "PT Sans";
  font-weight: bold;
  color: #C0C0C0;
  text-align: left;
  line-height: 35%;
}

.title, .author {
  display: none;
}

.footer {
  font-family: "PT Serif", serif;
  font-size: 90%;
  color: #ababab;
  line-height: 140%;
}

hr.footer {
  margin-top: 10%;
}

code, pre {
  font-family: "Droid Sans Mono", monospace;
  font-size: 10pt;
}

a:link {
    color: #000000;
    background-color:transparent;
    text-decoration:underline;
}
a:visited {
    color: #000000;
    background-color:transparent;
    text-decoration:underline;
}
a:hover {
    color:#ff0000;
    background-color:transparent;
    text-decoration:underline;
}
a:active {
    color:#ff0000;
    background-color:transparent;
    text-decoration:underline;
}


.pages {
  width: 100%;
  float: center;
  margin: 0% 0 0 0;
  padding: 0;
  list-style: none;
  background-color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-size: 120%;
  text-align: center; 
  padding-top: 7px;
  padding-bottom: 17px;
  border-right: #ccc;
}

div {
    width: 720px;
    padding: 10px;
    border: none;
    margin: 0px;
    max-width: 90%;
    min-width: 20%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    /*width: 70%;*/ 
}

</style>
